@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

#hero {
  background: linear-gradient(0deg, rgba(9.197244644165039, 8.92899227142334, 8.92899227142334, 1), rgba(16, 16, 16, 0) 100%), url("../assets/hero-bg.png");
  background-size: cover;
  width: 1920px;
  height: 919px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#hero .hero-content {
  width: 1033px;
}

#hero .hero-content #subtitle {
  color: rgba(255, 255, 255, 1);
  font-size: 32px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 16px;
}

#hero .hero-content #title {
  color: rgba(255, 255, 255, 1);
  font-family: Work Sans;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}

#hero .hero-content #title_description {
  color: rgba(255, 255, 255, 1);
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 32px;
}

#hero .hero-content #btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
}


.btn {
  padding: 21px 32px 21px 32px;
  background: rgba(82, 195, 3, 1);
  border: none;
  border-radius: 8px;
  width: 282px;
  height: 65px;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

#card-box {
  /* Card Box */
  width: 1920px;
  height: 1222px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#card-box #title-box {
  /* Frame 4 */
  width: 691px;
  height: 172px;
  margin: 0 auto;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16;
}

#card-box #subtitle {
  color: rgba(16, 16, 16, 1);
  opacity: 0.6;
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

#card-box #title {
  color: rgba(16, 16, 16, 1);

  font-family: Work Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: center;
}

#card-container {
  width: 1320px;
  height: 742px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.card {
  /* Frame 17 */
  width: 424px;
  height: 651px;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 64;
}

.card img {
  /* Rectangle 1 */
  width: 424px;
  height: 283px;
}

.card-description {
  text-align: center;
}

.card-description span {
  /* Pizza Burg */
  width: 202px;
  height: 56px;
  margin: 32px auto;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  padding: 14px 32px 14px 32px;
  border-radius: 8px;
  background: rgba(82, 195, 3, 0.15);
  color: rgba(16, 16, 16, 1);
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.card-description h3 {
  color: rgba(16, 16, 16, 1);
  font-family: Work Sans;
  font-size: 40px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}

.card-description p {
  display: inline-block;
  padding: 0 10px;
}

#about {
  display: flex;
  justify-content: start;
  align-items: center;
}

#social-media {
  /* image 2 */
  width: 1932px;
  height: 671px;
  background: url("../assets/social-bg.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-description {
  width: 1320px;
  height: 326px;
  text-align: center;
}

.social-media-description h3 {
  /* We always make sure to provide you with good food */
  width: 805px;
  height: 128px;
  color: rgba(16, 16, 16, 1);
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0%;
  margin: auto;
}

.social-media-description p {
  color: rgba(16, 16, 16, 1);
  opacity: 0.6;
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin: 24px auto 48px auto;
}

.social-media-description h4 {
  color: rgba(16, 16, 16, 1);
  opacity: 0.7;
  font-family: Work Sans;
  font-size: 32px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin: 30px auto;
}

.social-media-description .thick {
  opacity: 0.6;
}

.social-media-icon img {
  margin: 20px;
}

#about {
  width: 1920px;
  height: 671px;
}

#about-image {
  width: 50%;
}

#about-image img {
  width: 100%;
  /* Image takes 100% of parent's width */
  height: auto;
  /* Height adjusts to maintain aspect ratio */
  display: block;
  /* Removes extra space below the image */
}

.about-description {
  width: 50%;
  text-align: center;
}

footer {
  text-align: center;
  padding: 50px;
  background: rgba(82, 195, 3, 0.15);
  color: rgba(16, 16, 16, 1);
}